includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - app
        - database/factories
        - database/seeders
        - routes
        - domains

    inferPrivatePropertyTypeFromConstructor: true
    level: 5
    ignoreErrors:
        - '#Method .*\(\) should return Illuminate\\View\\View but returns Inertia\\Response\.#'
        - '#Method .*\(\) should return Illuminate\\Http\\Response but returns Illuminate\\Http\\RedirectResponse\.#'
        - '#Access to an undefined property App\\Models\\.*\.#'
