includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - app
        - database/factories
        - database/seeders
        - routes

    inferPrivatePropertyTypeFromConstructor: true
    level: 5
    ignoreErrors:
        - '#Access to an undefined property App\\Models\\.*::\$pivot\.#'
        - '#Access to an undefined property Sabre\\VObject\\Component\\VCard::\$.*\.#'

        - message: '#Access to an undefined property App\\Models\\Label::\$contacts_count\.#'
          path: */app/Domains/Contact/ManageContact/Web/ViewHelpers/ContactIndexViewHelper.php
        - message: '#Access to an undefined property App\\Models\\Label::\$contacts_count\.#'
          path: */app/Domains/Vault/ManageVaultSettings/Web/ViewHelpers/VaultSettingsIndexViewHelper.php
        - message: '#Access to an undefined property App\\Models\\Post::\$year\.#'
          path: */app/Domains/Vault/ManageJournals/Web/ViewHelpers/JournalShowViewHelper.php
        - message: '#Access to an undefined property App\\Models\\Tag::\$posts_count\.#'
          path: */app/Domains/Vault/ManageVaultSettings/Web/ViewHelpers/VaultSettingsIndexViewHelper.php
        - message: '#Call to an undefined method Illuminate\\Database\\Eloquent\\Builder<App\\Models\\Note>::unsearchable\(\)\.#'
          path: */app/Models/Contact.php
        - message: '#Call to an undefined method Illuminate\\Database\\Eloquent\\Builder<App\\Models\\Note>::unsearchable\(\)\.#'
          path: */app/Models/Vault.php
        - message: '#Call to an undefined method Illuminate\\Database\\Eloquent\\Builder<App\\Models\\Contact>::unsearchable\(\)\.#'
          path: */app/Models/Vault.php
        - message: '#Parameter \#1 \$value of function count expects array\|Countable, App\\Models\\Contact given\.#'
          path: */app/Domains/Vault/ManageVault/Web/ViewHelpers/VaultIndexViewHelper.php
